



/* DEBUG */
[class*="col-"] { 
    background-color: orangered;
    min-height: 30px;
    padding: 10px;
    border: 2px solid white;
}

.green{ 
    background-color: green;
    
    
}

.row.off{ 
    padding-top: 20px;
}

.row.tre{ 
    padding-top: 20px;
}

.second{ 
    margin-top: 30px;
}

.col-lg-6.big{ 
    height: 140px;
}
.col-lg-6.big-2{ 
    background-color: white;
    
}
.row{ 
    height:100%;
}

.terza{ 
    margin-top: 30px;
}